<%= render "partials/head" %>

<body>
<div class="container">
<header id="pageHeader">
  <%= image_tag "stuts.svg" %>
  <h1>Studentische Tagung Sprachwissenschaft</h1>
</header>

<nav id="mainNav">
  <ul>
    <li><a href="#" class="active">Home</a></li>
    <li><a href="#">Die StuTS</a></li>
    <li><a href="#">Archiv</a></li>
    <li><a href="#">Links</a></li>
    <li><a href="#">Anmeldung</a></li>
  </ul>
</nav>
<nav id="subNav" class="column span-5 colborder">
  <ul>
    <li><a href="#" class="active">Home</a></li>
    <li><a href="#">Das ist</a></li>
    <li><a href="#">ein Untermenü</a></li>
    <li><a href="#">Heißer Scheiß</a></li>
    <li><a href="#">Noch heißerer Scheiß</a></li>
  </ul>
</nav>

<div id="main" role="main" class="column span-12 colborder">
  <%= container :main %>
</div> <!-- end #main -->
<!-- <%= render_portlet "Info" %> -->
<footer class="column span-24">
<p>Copyright Blahblah!</p>
</footer> <!-- end #footer -->
</div> <!-- end .container -->
</body>
</html>
