/** 
General style file for the StuTS Homepage
To be used in conjunction with the Blueprint stylesheets + liquid plugin

Author: Pierpaolo Frasa
Creation date: Apr. 8. 2012
**/
/** General rules **/
body {
	font-family: 'Lora', Georgia, "Lucida Bright", "Times New Roman", Times, serif;
	font-size: 62.5%;
	background-image: url(bg.gif);
}

h1, h2 {
	font-family: 'Lora', Georgia, "Lucida Bright", "Times New Roman", Times, serif;
	line-height: 1.2em;
}

a {
	text-decoration: none;
	color: #01708F;
}

/** Rules for specific elements **/
#pageHeader {
	width: 100%;
}

#pageHeader img {
	display: block;
	width: 800px;
	margin: auto;
}

nav ul {
	list-style-type: none;
	margin: 0;
}

a:hover, #subNav a:hover {
	color: #A67400;
}

#mainNav {
	background-color: black;
	font-size: 1.8em;
	width: 98%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 5px;
	padding-bottom: 5px;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	box-shadow: 5px 5px 5px #333;
	-moz-box-shadow: 5px 5px 5px #333;
	-webkit-box-shadow: 5px 5px 5px #333;
	-o-box-shadow: 5px 5px 5px #333;
}

#mainNav ul {
	margin: auto;
	display: table;
}

#mainNav li {
	display: table-cell;
	width: 130px;
}

#mainNav a {
	color: white;
	text-align: center;
	display: block;
	width: 107px;
	padding: 4px 10px;
}

#mainNav a:hover {
	background-color: #A67400;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

#mainNav a.active {
	background-color: #8861F2;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

#subNav {
	text-align: right;
	margin-top: 20px;
}

#subNav li {
	font-variant: small-caps;
	font-size: 1.6em;
}

#subNav a {
	color: #000;
}

#subNav a.active {
	color: #FF2300;
}

#main .breadcrumbs {
	margin: 0;
	font-family: Georgia, "Lucida Bright", "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 1.4em;
}

.breadcrumbs li {
	list-style-type: none;
	display: inline;
}

.breadcrumbs li:before {
	content: "» ";
}

.breadcrumbs li.first:before {
	content: "";
}

#main h1 {
	font-size: 2.3em;
	font-weight: bold;
}

#main h2 {
  font-size: 1.6em;
  font-weight: bold;
}

#main h1, #main h2, #main h3 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

#main p {
	margin: 0;
  margin-bottom: 5px;
}

#main ul, #main ol, #main p, #main table {
  font-size: 1.4em;
}

#main .text-image-left img {
  float: left;
  margin-right: 10px;
}

.info li {
	margin-bottom: 15px;
	list-style-type: none;
  clear: both;
}

.info li h1 {
	font-family: Georgia, "Lucida Bright", "Times New Roman", Times, serif;
	font-size: 1.6em;
	font-style: italic;
	margin-bottom: 2px;
}

.info li p {
	font-family: Georgia, "Lucida Bright", "Times New Roman", Times, serif;
  font-size: 1.4em;
	margin: 0;
	line-height: 1.2em;
}

footer {
	text-align: center;
  font-size: 1.4em;
	margin-top: 40px;
	border-top: 1px solid #bbb;
	padding-top: 10px;
}
